$highlight: #eee;
$border: #333;

.section {
  background-color: $highlight;
  border: 2px solid $border;
  margin: 0px;
  padding: 10px;
  border-radius: 0.5rem !important;
}

.section-row {
  margin: 0;
  padding: 5px;
}

.section-col {
  margin: 0;
  padding: 2px;
}

h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
