$highlight: #f7f7ff;
$border: #333;

.section {
  background-color: $highlight;
  border: 2px solid $border;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 0.5rem !important;
}

.section-row {
  margin: 0;
  padding: 0 5px 0 5px;
}

.section-col {
  margin: 0;
  padding: 2px;
  // border: 1px solid red;
}

h1 {
  display: block;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.file-upload {
  background-color: #33f;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 0.25rem !important;
}
